<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User display</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <h3><span th:text="${user.username}">Username</span></h3>
        <hr>
        <p th:text="'First name: ' + ${user.firstName}">First name</p>
        <p th:text="'Last name: ' + ${user.lastName}">Last name</p>
        <p th:text="'Email: ' + ${user.email}">Email</p>
        <table>
            <th>List of meetings</th>
            <tr th:each="meeting : ${user.meetings}">
                <td th:text="${meeting.meetingTitle}">Meeting</td>
            </tr>
        </table>
        <hr>
    </div>

    <div>
        <br />
        <a href="/user/list" th:href="@{/user/list}">back</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>