<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <table>
            <h3>List of users</h3>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Link</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">name</td>
                <td th:text="${user.email}">capacity</td>
                <td>
                    <a th:text="'view'" th:href="@{/user/display/{id}(id = ${user.id})}">view</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <hr>
    </div>

    <div>
        <br />
        <a href="/user/add" th:href="@{/user/add}">Add an user</a>
        <br />
        <br />
        <a href="/index" th:href="@{/index}">Back to home page</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>