<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
    <div>
        <h2>Intranet - Booking</h2>
        <h3>List of users</h3>
    </div>

    <br />
    <hr>

    <div>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Link</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">name</td>
                <td th:text="${user.email}">capacity</td>
                <td>
                    <a th:text="'view'" th:href="@{/user/display/{id}(id = ${user.id})}">view</a>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <hr>

    <a href="/index" th:href="@{/index}">Back to home page</a>
</body>
</html>