<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>user form</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header">
    <h2>Header</h2>
</div>
<div class="container">
    <form th:object="${userDTO}" th:action="*{id}==null ? @{/user/processSaveUserForm} : @{/user/processUpdateUserForm}" method="post">
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-4">
                <h3 th:text="(*{id} ? 'Update' : 'Add') + ' user'">add or update</h3>
            </div>
        </div>
        <div th:if="${#fields.hasErrors('*')}" class="col-sm-6 alert alert-danger">
            <p>Please correct errors below</p>
        </div>
        <label for="id"></label>
        <input id="id" th:type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label class="col-sm-2" for="username">Username</label>
            <input type="text" id="username" class="form-control col-sm-4" th:field="*{username}"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('username')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <div class="text-danger" th:if="${#fields.hasErrors('username')}">
                  <ul>
                      <li th:each="err : ${#fields.errors('username')}" th:text="${err}">Username field error</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group row" th:if="*{id == null}">
            <label class="col-sm-2" for="password">Password</label>
            <input type="password" id="password" class="form-control col-sm-4" th:field="*{password}"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('password')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <div class="text-danger" th:if="${#fields.hasErrors('password')}">
                  <ul>
                      <li th:each="err : ${#fields.errors('password')}" th:text="${err}">Password field error</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group row" th:if="*{id == null}">
            <label class="col-sm-2" for="matchingPassword">Confirm password</label>
            <input type="password" id="matchingPassword" class="form-control col-sm-4" th:field="*{matchingPassword}"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('password')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <div class="text-danger" th:if="${#fields.hasErrors('password')}">
                  <ul>
                      <li th:each="err : ${#fields.errors('password')}" th:text="${err}">Confirm Password field error</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control col-sm-4" th:field="*{firstName}"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('firstName')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <div class="text-danger" th:if="${#fields.hasErrors('firstName')}">
                  <ul>
                      <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">First name field error</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control col-sm-4" th:field="*{lastName}"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('lastName')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <div class="text-danger" th:if="${#fields.hasErrors('lastName')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Last name field error</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="email">Email address</label>
            <input type="email" id="email" class="form-control col-sm-4" th:field="*{email}" placeholder="name@example.com"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('email')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}">
                  <ul>
                      <li th:each="err : ${#fields.errors('email')}" th:text="${err}">email field error</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group col-sm-6 mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Role</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" th:field="*{role.id}">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}"
                            th:selected="${role.id} == *{role.id}">
                    </option>
                </select>
            </div>
        </div>
        <br />
        <a class="col-sm-3 btn btn-dark" href="/meeting/list" th:href="@{/user/list}">back</a>
        <button type="submit" class="col-sm-3 btn btn-success" th:text="*{id} ? 'Update' : 'Add'" value="submit">Submit</button>
        <br />
    </form>
</div>
<div th:replace="fragments/footer :: footer">
    footer
</div>
</body>
</html>