<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <br />
        <form th:object="${user}" th:action="@{/user/processUserForm}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label>
                First name: <input type="text" th:field="*{firstName}">
            </label>
            <br />
            <label>
                Last name: <input type="text" th:field="*{lastName}">
            </label>
            <br />
            <label>
                Username: <input type="text" th:field="*{username}">
            </label>
            <br />
            <label>
                Email: <input type="email" th:field="*{email}"/>
            </label>
            <br />
            <button  type="submit" value="submit">Submit</button>
            <br />
        </form>
        <br />
        <br />
        <hr>
    </div>

    <div>
        <br />
        <a href="/meeting/list" th:href="@{/user/list}">back</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>