<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <br />
        <form th:object="${meeting}" th:action="@{/meeting/processAddForm}" method="post">
            <label>
                Title: <input type="text" th:field="*{title}">
            </label>
            <br />
            <label>
                Contact: <input type="text" th:field="*{contact}">
            </label>
            <br />
            <label>
                Date: <input type="date" th:field="*{date}">
            </label>
            <br />
            <label>
                Start: <input type="date" th:field="*{start}"></input>
            </label>
            <br />
            <label>
                End: <input type="date" th:field="*{end}">
            </label>
            <br />
            <label>
                Drinks: <input type="checkbox" th:field="*{drinks}">
            </label>
            <br />
            <label>
                Food: <input type="checkbox" th:field="*{food}">
            </label>
            <br />
            <label>
                Projection: <input type="checkbox" th:field="*{projection}">
            </label>
            <br />
            <label>
                Notes: <textarea type="text" th:field="*{notes}"></textarea>
            </label>
            <br />
            <button type="submit" value="submit">Submit</button>

            <br />
        </form>
        <br />
        <br />
        <hr>
    </div>

    <div>
        <br />
        <a href="/meeting/list" th:href="@{/meeting/list}">back</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>