<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meetings list</title>
</head>
<body>
    <div>
        <h2>Intranet - Booking</h2>
        <h3>List of meetings</h3>
    </div>

    <br />
    <hr>

    <div>
        <table>
            <tr>
                <th>title</th>
                <th>meeting room</th>
                <th>date</th>
                <th>Link</th>
            </tr>
            <tr th:each="meeting : ${meetings}">
                <td th:text="${meeting.meetingTitle}">title</td>
                <td th:text="${meeting.meetingRoom.name}">capacity</td>
                <td th:text="${meeting.meetingDate}">date</td>
                <td>
                    <a th:text="'link'" th:href="@{/meeting/display/{id}(id = ${meeting.id})}">link</a>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <hr>

    <a href="/index" th:href="@{/index}">Back to home page</a>
</body>
</html>