<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <br />
        <form th:object="${meeting}" th:action="@{/meeting/processMeetingForm}" method="post">
            <input th:type="hidden" th:field="*{id}"/>
            <label>
                Title: <input type="text" th:field="*{title}">
            </label>
            <br />
            <label>
                Contact: <input type="text" th:field="*{contact}">
            </label>
            <br />
            <label>
                Meeting room:
                <select th:field="*{meetingRoom.id}">
                    <option th:each="meetingRoomEach : ${meetingRoomList}"
                            th:value="${meetingRoomEach.id}"
                            th:text="${meetingRoomEach.name}">
                    </option>
                </select>
            </label>
            <br />
            <label>
                Date: <input type="text" placeholder="dd/mm/yyyy" th:field="*{date}" th:value="${#temporals.format(meeting.date, 'dd/MM/yyyy')}"/>
            </label>
            <br />
            <label>
                Start: <input type="text" placeholder="HH:mm:ss" th:field="*{start}" th:value="${#temporals.format(meeting.start, 'HH:mm:ss')}"/>
            </label>
            <br />
            <label>
                End: <input type="text" placeholder="HH:mm:ss" th:field="*{end}" th:value="${#temporals.format(meeting.end, 'HH:mm:ss')}"/>
            </label>
            <br />
            <label>
                Drinks: <input type="checkbox" th:field="*{drinks}">
            </label>
            <br />
            <label>
                Food: <input type="checkbox" th:field="*{food}">
            </label>
            <br />
            <label>
                Projection: <input type="checkbox" th:field="*{projection}">
            </label>
            <br />
            <label>
                Notes: <textarea type="text" th:field="*{notes}"></textarea>
            </label>
            <br />
            <button type="submit" value="submit">Submit</button>

            <br />
        </form>
        <br />
        <br />
        <hr>
    </div>

    <div>
        <br />
        <a href="/meeting/list" th:href="@{/meeting/list}">back</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>