<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>meeting form</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header">
    <h2>Header</h2>
</div>
<div class="container">
    <form th:object="${meeting}" th:action="@{/meeting/processMeetingForm}" method="post">
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-4">
                <h3 th:text="(*{id} ? 'Update' : 'Add') + ' meeting'">Add or update</h3>
            </div>
        </div>
        <div th:if="${#fields.hasErrors('*')}" class="col-sm-6 alert alert-danger">
            <p>Please correct errors below</p>
        </div>
        <input th:type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label class="col-sm-2" for="title">Title</label>
            <input type="text" id="title" class="form-control col-sm-4" th:field="*{title}" th:errorclass="has-error"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('title')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <span class="text-danger" th:if="${#fields.hasErrors('title')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
                  </ul>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="membersNb">Participants</label>
            <input type="text" id="membersNb" class="form-control col-sm-4" th:field="*{membersNb}" th:errorclass="has-error"/>
            <div class="cols-sm-6" th:class="${#fields.hasErrors('membersNb')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <span class="text-danger" th:if="${#fields.hasErrors('membersNb')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
                  </ul>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="contact">Contact</label>
            <input id="contact" class="form-control col-sm-4" th:field="*{contact}"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="meetingRoom">Meeting room</label>
            <select id="meetingRoom" th:field="*{meetingRoom.id}">
                <option selected th:value="choose...">Choose...</option>
                <option th:each="meetingRoomEach : ${meetingRoomList}"
                        th:value="${meetingRoomEach.id}"
                        th:text="${meetingRoomEach.name}">
                </option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="inputDate">Date</label>
            <input type="date" id="inputDate" class="form-control col-sm-4" th:field="*{date}"
                   th:value="${#temporals.format(meeting.date, 'dd-MM-yyyy')}" placeholder="dd-mm-yyyy" th:errorclass="has-error"/>
            <div type="text" class="cols-sm-6" th:class="${#fields.hasErrors('date')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <span class="text-danger" th:if="${#fields.hasErrors('date')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('date')}" th:text="${err}"/>
                  </ul>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="start">Start</label>
            <input type="time" id="start" class="form-control col-sm-4" th:field="*{start}"
                   th:value="${#temporals.format(meeting.start, 'HH:mm:ss')}" th:pattern="'HH:mm:ss'" placeholder="hh/mm/ss" th:errorclass="has-error"/>
            <div type="text" class="cols-sm-6" th:class="${#fields.hasErrors('start')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <span class="text-danger" th:if="${#fields.hasErrors('start')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('start')}" th:text="${err}"/>
                  </ul>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="end">End</label>
            <input type="time" id="end" class="form-control col-sm-4" th:field="*{end}"
                   th:value="${#temporals.format(meeting.end, 'HH/mm/ss')}" placeholder="hh/mm/ss" th:errorclass="has-error"/>
            <div type="text" class="cols-sm-6" th:class="${#fields.hasErrors('end')} ? 'col-sm-6 has-error' : 'col-sm-6'">
                <span class="text-danger" th:if="${#fields.hasErrors('end')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('end')}" th:text="${err}"/>
                  </ul>
                </span>
            </div>
        </div>
        <div class="form-check">
            <input id="drinks" class="form-check-input" type="checkbox" th:field="*{drinks}" value="" >
            <label class="form-check-label" for="drinks">
                Drinks
            </label>
        </div>
        <div class="form-check">
            <input id="food" class="form-check-input" type="checkbox" th:field="*{food}" value="" >
            <label class="form-check-label" for="food">
                Food
            </label>
        </div>
        <div class="form-check">
            <input id="projection" class="form-check-input" type="checkbox" th:field="*{projection}" value="" >
            <label class="form-check-label" for="projection">
                Projection
            </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="notes">Notes</label>
            <textarea id="notes" class="form-control col-sm-4" th:field="*{notes}" rows="3"></textarea>
        </div>
        <a class="col-sm-3 btn btn-dark" href="/meeting/list" th:href="@{/meeting/list}">back</a>
        <button class="col-sm-3 btn btn-success" type="submit" th:text="*{id} ? 'Update' : 'Add'" value="submit">Submit</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer">
    footer
</div>
</body>
</html>