<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <br />
        <form th:object="${meetingRoom}" th:action="@{/meeting-room/processAddForm}" method="post">
            <label>
                Name: <input type="text" th:field="*{name}">
            </label>
            <br />
            <label>
                Capacity: <input type="text" th:field="*{capacity}">
            </label>
            <br />
            <label>
                Location: <input type="text" th:field="*{location}">
            </label>
            <br />
            <label>
                Description: <textarea type="text" th:field="*{description}"></textarea>
            </label>
            <br />
            <label>
                Available: <input type="checkbox" th:field="*{available}">
            </label>
            <br />
            <button type="submit" value="submit">Submit</button>

            <br />
        </form>
        <br />
        <hr>
    </div>

    <div>
        <br />
        <a href="/meeting/list" th:href="@{/meeting-room/list}">back</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>