<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting-room display</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <h3><span th:text="${meetingRoom.name}">Nom de la salle</span></h3>
        <hr>
        <p th:text="'Number of places: ' + ${meetingRoom.capacity}">capacity</p>
        <p th:text="'Location: ' + ${meetingRoom.location}">location</p>
        <p th:text="'Description: ' + ${meetingRoom.description}">description</p>
        <p th:text="${meetingRoom.available ? 'Available' : 'Not available'}">available</p>
        <table>
            <th>List of meetings</th>
            <tr th:each="meeting : ${meetingRoom.meetings}">
                <td>
                    <a th:text="${meeting.meetingTitle}"
                       th:href="@{/meeting/display/{id}(id = ${meeting.id})}">
                        Meeting
                    </a>
                </td>
            </tr>
        </table>
        <hr>
    </div>

    <div>
        <br />
        <a href="/meeting-room/list" th:href="@{/meeting-room/list}">back</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>

</body>
</html>