<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting-room display</title>
</head>
<body>
    <div>
        <h2>Intranet - Booking</h2>
        <h3>Meeting-room</h3>
        <br />
        <hr>

        <h3><span th:text="${meetingRoom.name}">Nom de la salle</span></h3>
        <p th:text="${meetingRoom.capacity}">capacity</p>
        <p th:text="${meetingRoom.location}">location</p>
        <p th:text="${meetingRoom.description}">description</p>
        <p th:text="${meetingRoom.available ? 'Libre' : 'Indisponibe'}">available</p>
        <p th:text="Liste des meetings">meetings</p>
    </div>
</body>
</html>