<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting-rooms list</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h2>Header</h2>
    </div>

    <div>
        <h3>List of meeting-rooms</h3>
        <table>
            <tr>
                <th>Meeting-room</th>
                <th>Number of places</th>
                <th>View</th>
                <th>Update</th>
            </tr>
            <tr th:each="meetingRoom : ${meetingRooms}">
                <td th:text="${meetingRoom.name}">name</td>
                <td th:text="${meetingRoom.capacity}">capacity</td>
                <td>
                    <a th:text="'view'" th:href="@{/meeting-room/display/{id}(id = ${meetingRoom.id})}">view</a>
                </td>
                <td>
                    <a th:text="'update'" th:href="@{/meeting-room/update/{id}(id = ${meetingRoom.id})}">Update</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <hr>
    </div>

    <div>
        <br />
        <a href="/meeting-room/add" th:href="@{/meeting-room/add}">Add a meeting-room</a>
        <br />
        <br />
        <a href="/index" th:href="@{/index}">Back to home page</a>
    </div>

    <div th:replace="fragments/footer :: footer">
        footer
    </div>
</body>
</html>