<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting-rooms list</title>
</head>
<body>
    <div>
        <h2>Intranet - Booking</h2>
        <h3>List of meeting-rooms</h3>
    </div>

    <br />
    <hr>

    <div>
        <table>
            <tr>
                <th>Meeting-room</th>
                <th>Number of places</th>
                <th>Link</th>
            </tr>
            <tr th:each="meetingRoom : ${meetingRooms}">
                <td th:text="${meetingRoom.name}">name</td>
                <td th:text="${meetingRoom.capacity}">capacity</td>
                <td>
                    <a th:text="'view'" th:href="@{/meeting-room/display}">view</a>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <hr>

    <a href="/index" th:href="@{/index}">Back to home page</a>
</body>
</html>