<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header" class="container-fluid" style="margin-top: 5px;">
    <!--img th:src="@{/resources/images/coqpirate.jpg}" class="img-fluid" alt="Responsive image"-->
    <nav class="navbar navbar-expand-lg dark bg-dark">
        <a class="navbar-brand text-light" href="#">
            <img th:src="@{/images/coq.jpg}" width="30" height="30" class="rounded-circle d-inline-block align-top" alt="" loading="lazy">
            Intr@net
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Indic@t</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/meeting/list}">M@eting</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/meeting-room/list}">Meeting-rooms</a>
                        <a class="dropdown-item" th:href="@{/user/list}">Users</a>
                    </div>
                </li>
            </ul>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <form sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0">
                <a th:href="@{/login}" class="btn btn-outline-light my-2 my-sm-0" type="submit">login</a>
            </form>
            <span sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-outline-light my-2 my-sm-0" data-toggle="modal" data-target="#logoutModal">logout</button>
            </span>

        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 th:text="#{header.h2}">Welcome message</h2>
            <p class="lead">Réservation de salles et gestion du courrier</p>
        </div>
    </div>
</div>
